
.footer-2{
    min-height: 200px;
    height: 100%;
    .instagram{
        width: 60px;
        height: 60px;
        margin: 30px 0px 0px 20px;
        animation-name: insta;
        animation-duration: 8s;
    }
}
@keyframes insta {
    0%{
        left: 0;
    }
    10%{
        right: 50px;
        
    }
    30%{
        right: 150px;
        width: 80px;
        height: 80px;
    }
    50%{
        right: 250px;
        width: 100px;
        height: 100px;
    }
    70%{
        right: 350px;
        width: 120px;
        height: 120px;
    }
    80%{
        right: 450px;
        width: 140px;
        height: 140px;

    }
    100%{
        right: 550px;
        width: 160px;
        height: 160px;
    }
}